/* custom css for train scheduler app*/

body {
    background-image: url('images/zwartevilt.png');
}

.jumbotron, .card-header {
    background-color: #E4DBD1;
}

tr td {
    background-color: rgba(250, 245, 247, 1);
}

.train-item:hover {
    background-color: green;
}